name: Build and Push Artifacts

on:
  push:
    branches:
      - main  # Trigger on changes to main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout code
          uses: actions/checkout@v5

        - name: Setup Node.js
          uses: actions/setup-node@v2
          with:
            node-version: '22'
        - name: Install dependencies
          run: npm install

        - name: Build project
          run: npm run build

        - name: Archive Artifacts
          uses: actions/upload-artifact@v4
          with:
            name: build-artifacts
            path: |
              dist/**
        - name: Download Artifacts
          uses: actions/download-artifact@v4
          with:
            name: build-artifacts
            path: ./build

