name: "Build the project"
on:
  push:
    branches:
      - main

jobs:
  deploy:   
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'
        
      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Push build to build branch
        run: |
          if git ls-remote --heads https://github.com/${{ github.repository }} build; then
            git clone --branch build https://github.com/${{ github.repository }} build-temp
          else
            git clone https://github.com/${{ github.repository }} build-temp
            cd build-temp
            git checkout --orphan build
            git rm -rf .
            cd ..
            fi

          cd build-temp
          git add .
          git commit -m "Build update from ${{ github.sha }}" || echo "No changes to commit"
          git push origin build

        