name: Build and Push Artifacts

on:
  push:
    branches:
      - main  # Trigger on changes to main

jobs:

    build-and-upload-artifacts:
        name: Build and Upload Artifacts
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                node-version: '22'
            - name: Install Pnpm
              run: curl -fsSL https://get.pnpm.io/install.sh | sh -
            
            - name: Install dependencies
              run: pnpm i

            - name: Build project
              run: pnpm run build

            - name: Archive Artifacts
              uses: actions/upload-artifact@v4
              with:
                name: build-artifacts
                path: dist/

    release-artifacts:
        name: Release Artifacts
        runs-on: ubuntu-latest
        needs: build-and-upload-artifacts

        steps:
            - name: Download Artifacts
              uses: actions/download-artifact@v4
              with:
                name: build-artifacts
   
