name: "Deploy to AWS"
on:
  workflow_run:
    workflows:
      - Build and Push Artifact
    types:
      - completed

jobs:
  deploy:
    if: ${{github.event.workflow_run.conclusion == 'success'}}   
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: dist/

      - name: print something
        run: echo "Deploying to AWS..."

        